<div class="article">
  <div class="title_row">
    <a class="article_title" ng-href="{{ document.url }}" ng-attr-title="{{ document.title }}">
      {{ document.title }}
    </a>
  </div>
  <div class="info_row">
    <a class="article_host" ng-href="{{ document.url }}" ng-attr-title="{{ document.title }}">
      {{ document.source.name }}
    </a>
    <span class="host"></span>
    <span class="author" ng-if="document.author != null"> · by {{ document.author }}</span>
    <span class="timestamp"> · {{ document.timestamp | fromNow }}</span>
    <ul class="tags">
      <li ng-repeat="topic in document.relatedtopics | limitTo:2">
      <a href="#" class="tag">{{ topic.name }}</a>
      </li>
    </ul>
  </div>
  <div class="content_row">
    <div class="image_cover_div" ng-if="document.cover_url != null">
      <img class="{{ document.is_full_pic ? 'full_' : '' }}image_cover" ng-src="{{ document.cover_url }}" alt="Cover Image" />
    </div>
    <div class="text_content" ng-if="!document.is_full_pic">
      <p class="summary">
        {{ document.summary[0] | limitTo:350 }}
        <span ng-if="document.summary[0].length > 350">...</span>
      </p>
    </div>
  </div>
</div>
